
.header{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    height: 50px;
    background-color: #1F2937;
    align-items:center;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    padding-left:150px;
    padding-right:150px;
}
ul{
    display: flex;
    gap: 18px;
    margin-right: 32px;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}
.hero{
    display: flex;
    background-color: #1F2937;
    width: 100%;
    justify-content:center;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom:100px;
    width: 400px;
}
button{
    background-color: #3882f6;
    color: white;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    border-style:none;
    padding: 10px 50px;
}
.heromain{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.img1{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-top: 100px;
    border: black;
    background-color: lightgrey;
    height: 200px;
    width: 500px;
    justify-content: center;
    align-items: center;
}
.herosub{
    font-size: 18px;
    color: #E5E7EB;
}
.imagearray, .centercontent{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.centercontent{
    flex-direction: column;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
}

.testimonialattrib, .centertitle{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.centertitle{
    padding-top: 50px;
    padding-bottom: 50px;
}
.imagebox{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;

}
.imgcontainer{
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
    border: 8px solid #3882F6 ;
    padding-bottom: 20px;
    display: flex;
}
.imgtext{
    margin-top: 10px;
}

.testimonial{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 100px;
}
.testimonialbulk{
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    flex-direction: column;
}
.testimonialattrib{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.testimonialtext{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}
.calltoaction{
    height: 200px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upperfooter{
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    width: 1000px;
}
.upperfootertext{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-right: 50px;
    font-size: 22px;
}

#signupbutton{
    border-color: white;
    border: 4px solid;
    height: 50px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    height: 80px;
    align-items: center;
    font-size: 22px;
    margin-top: 50px;
}
.call{
    padding: 10px;
}